<div class="all-albums-container" [ngClass]="{'blurred': selectedAlbum}">
  <button class="back-button" routerLink="/song">Retour</button>
  <h2 class="alex-brush-regular">All {{ genre }} Albums</h2>
  <div class="skills-container">
    <div class="skill-card" *ngFor="let album of allAlbums" (click)="showAlbumDetails(album)">
      <div class="logo-container">
        <img *ngIf="album.images[0]" [src]="album.images[0].url" alt="{{ album.name }}" class="logo_skill"/>
      </div>

      <div class="titbut">
        <h2 class="tool-name playfair-display-font">{{ album.name }}</h2>
        <!-- Cœur animé aligné à droite des étoiles -->
        <button class="heart-button2" (click)="toggleFavorite(album); $event.stopPropagation()">
          <svg class="heart2" viewBox="0 0 24 24">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="0%" style="stop-color: #ff4f8b; stop-opacity: 1" />
                <stop offset="100%" style="stop-color: #ff7f99; stop-opacity: 1" />
              </linearGradient>
            </defs>
            <path class="heart-outline" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
            <path class="heart-fill" [ngClass]="{'filled': estFavori(album)}" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
          </svg>
        </button>
      </div>
    </div>
    
  </div>
</div>

<div class="album-details" *ngIf="selectedAlbum">
  <div class="album-info">
    <div class="album-image">
      <img [src]="selectedAlbum.images[0]?.url" alt="{{ selectedAlbum.name }}" />
    </div>
    <div class="album-data">
      <h3 class="playfair-display-font">{{ selectedAlbum.name }}</h3>
      <p class="playfair-display-font">Artiste : {{ selectedAlbum.artists[0]?.name }}</p>
      <p class="playfair-display-font">Date de sortie : {{ selectedAlbum.release_date }}</p>
      <p class="playfair-display-font">Total Tracks : {{ selectedAlbum.total_tracks }}</p>
    </div>
  </div>
  <div class="tracks-list">
    <h2 class="alex-brush-regular">Tracks</h2>
    <div class="track-item" *ngFor="let track of albumTracks">
      <div class="track-card">
        <span class="track-number playfair-display-font">{{ track.track_number }}.</span>
        <span class="track-name playfair-display-font">{{ track.name }}</span>
        <span class="track-duration playfair-display-font">{{ (track.duration_ms / 60000) | number:'1.2-2' }} </span>
        <a [href]="track.external_urls.spotify" target="_blank" class="spotify-link">
          <img src="../../assets/images/spotify.png" alt="Spotify" class="spotify-logo" />
        </a>

        <div class="video-player">
          <div class="video-thumbnail" (click)="playVideo(track)">
            <img src="../../assets/images/eye.png" alt="watch" class="spotify-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="close-btn" (click)="closeAlbumDetails()">Close</button>
</div>

<!-- Ajoutez ceci après la div de album-details -->
<div class="video-modal" *ngIf="isPlaying && selectedTrack && selectedTrack.preview_url">
  <div class="modal-header">
    <h3 class="alex-brush-regular heading">{{ selectedTrack.name }}</h3>
    <button class="close-video-btn" (click)="isPlaying = false">×</button>
  </div>
  <div class="modal-content">
    <iframe
      width="100%"
      height="400"
      [src]="getSafeVideoUrl(selectedTrack.preview_url!)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>