<ul class="menu-bar alex-brush-regular">
  <li ><a class="alex-brush-regular" routerLink="/movies">Films</a></li>
  <li ><a class="alex-brush-regular" routerLink="/anime-actual">Animes</a></li>
  <li ><a class="alex-brush-regular" routerLink="/manga">Mangas</a></li>
  <li ><a class="alex-brush-regular" routerLink="/anime">Films Ghibli</a></li>
  <li ><a class="alex-brush-regular" routerLink="/song">Musique</a></li>
  <li ><a class="alex-brush-regular" routerLink="/favoris">Mes favoris</a></li>
</ul>
