<div *ngIf="loading" class="loading alex-brush-regular">Chargement des mangas...</div>
<div class="container">
<a *ngFor="let manga of mangas" [routerLink]="['/manga', manga.mal_id]" class="no-style-link">
  <h1 class="alex-brush-regular">Manga</h1>
  <div class="manga-grid" *ngIf="!loading">
    <div class="manga-card" *ngFor="let manga of mangas">
      <img [src]="manga.images.jpg.image_url" [alt]="manga.title" class="manga-image" />
  
      <div class="manga-info">
        <h3 class="heading alex-brush-regular">{{ manga.title }} ({{ manga.published?.prop?.from?.year || 'N/A' }})</h3>
      </div>
  
      <!-- Étoiles de note -->
      <div class="rating-fav">
        <div class="rating">
          <ng-container *ngFor="let star of getStars(manga.score)">
            <span class="star">★</span>
          </ng-container>
        </div>
  
        <div class="favorite" (click)="toggleFavorite(manga)">
          <span [class.filled]="isFavorite(manga)">♥</span>
        </div>
      </div>
    </div>
  </div>
</a>
</div>
