<div *ngIf="loading" class="loading">Chargement des animes...</div>
<a *ngFor="let anime of animes" [routerLink]="['/anime', anime.mal_id]" class="no-style-link">
    <div class="manga-grid" *ngIf="!loading">
        <div class="manga-card" *ngFor="let anime of animes">
          <img [src]="anime.images.jpg.image_url" [alt]="anime.title" class="manga-image" />
      
          <div class="manga-info">
            <h3>{{ anime.title }} ({{ anime.year || 'N/A' }})</h3>
          </div>
      
          <div class="rating-fav">
            <div class="rating">
              <ng-container *ngFor="let star of getStars(anime.score)">
                <span class="star">★</span>
              </ng-container>
            </div>
      
            <div class="favorite" (click)="toggleFavorite(anime)">
              <span [class.filled]="isFavorite(anime)">♥</span>
            </div>
          </div>
        </div>
      </div>
      
</a>
