<div class="container alex-brush-regular">
       
        <app-navbar-diff-css></app-navbar-diff-css>
        <h2 class="alex-brush-regular">Entertainment Hub</h2>
        <div class="categories"></div>
        <div class="profile" (click)="toggleProfile()">
                <i class="fas fa-user"></i>
        </div>
    </div>
    

    <div class="profile-sidebar playfair-display-font" *ngIf="isProfileOpen">
        <button class="close-btn" (click)="toggleProfile()">
            <i class="fas fa-times"></i>
        </button>
    
        <h3>{{ userData?.prenom }} {{ userData?.nom }}</h3> 
        <p>{{ userData?.email }}</p>
    
        <div class="profile-actions">
            <button class="playfair-display-font">
                <i class="fas fa-user-edit"></i> Modifier mes informations
            </button>
            <button class="playfair-display-font">
                <i class="fas fa-heart"></i> Consulter mes favoris
            </button >
            <button (click)="logout()" class="playfair-display-font">
                <i class="fas fa-sign-out-alt"></i> Se déconnecter
            </button>
        </div>
    </div>
