<div class="container">
        <h2 class="alex-brush-regular">Centre de divertissement</h2>
    
        <nav class="alex-brush-regular">
            <div class="nav-wrapper">
                <a href="#">Films</a>
                <a href="#">Animes</a>
                <a href="#">Manga</a>
                <a href="#">Films Ghibli</a>
                <a [routerLink]="'/song'">Musique</a>

            </div>
        </nav>
    
        <div class="categories"></div>
        <div class="profile" routerLink="/profile">
                <i class="fas fa-user"></i>
        </div>
    </div>
    